
    *{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(142, 191, 142);
    background-repeat: no-repeat;
    height: 90vh;
    background-size: cover;
    min-height: 40px;
}
h2{
    font-size: 40px;
    margin-top: 20%;
   
}
p{
    color:black;
    font-size: 150%;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 40%;
    margin-right: 10%;
}

